body{
    background-color: lightblue;
}
.input-text-area{
    position: absolute;
    top: 10px;
    left: 20px;
}
.google-search-area{
}
#google-search{
    width: auto;
    height: 800px;
    display:flex;
    justify-content:center;
    align-items:center;
}